*{
    padding: 0%;
    margin: 0%;
}

body {
    font-family: "Roboto", "Open Sans";
    font-weight: 400; /* Bold Personalizado */
}
.flex {
    display: flex;
}

/* TAMAÑOS TEXTO*/

.textL{
    font-size: 45px;
    font-weight: 400;
}

.textM {
    font-size: 16px;
    font-weight: 400;
}
.textS {
    font-size: 14px;
    font-weight: 400;
}
.textXS {
    font-size: 10px;
    font-weight: 400;
}

.PrincipalContainer{
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw; 
}

.ContactSection{
    justify-content: top;
    height: 100vh;
    flex-grow: 1;
    flex-direction: column;
}

.UserSection{
    flex-direction: row;
    padding-top: 20px;
    padding-right: 10px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #BEC1BB;
    
}
.PrincipalSection{
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-grow: 5;
    flex-direction: column;
    background-color:#E8EBE4 ;
    border-left: 2px solid #BEC1BB;
}
.UserInfo{
    flex-direction: row;
    margin-left: 10px;
}

.userName{
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    margin-left: 10px;
}

.userInfoTextContainer{
    flex-direction: column;
    margin-left: 5px;
}

.userIcons{
    flex-direction: row;
    gap: 15px;
    margin-right: 10px;
}

.buttonContainer{
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #BEC1BB;
}

.nuevoChatBtm{
    background-color: #A491D2 ;
    color:white;
    
    margin-top: 30px;
    margin-bottom: 30px;
}

.TinyThumbnail{
    border-radius: 50%;
    width: 30px;
    height:auto;
    border-width: 3px;
    border-style: solid;
    border-color: #E8EBE4;
    object-fit: cover;

}

.NormalThumbnail {
    border-radius: 50%;
    object-fit: 60;
    border-width: 3px;
    border-style: solid;
    border-color: #E8EBE4;
}
.handLogo{
    width: 250px;
    height: auto;
    margin: 20px;
    border-radius: 10px;
}
.textCenter {
    text-align: center;
}


